
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    width: 100%;
    overflow-y: hidden;
}

.video-repeat {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-repeat video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.login-form{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dee1e8c4;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    right: 0;
}
#logo-login{
    width: 150px;
}
.login-form h1{
    font-size: 3rem;
    margin-bottom: 30px;
}
.login-form form{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.login-form form .input-box{
    position: relative;
    width: 100%;
    margin-bottom: 20px;
}
.login-form form .input-box input {
    width: 100%;
    padding: 15px 20px;
    font-size: 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.25);
    color: black;
    transition: border 0.3s ease;
}

.login-form form .input-box input:focus {
    border-color: #FFB52D;
    outline: none;
}

.login-form form .input-box label{
    font-size: 1.2rem;
    pointer-events: none;
}

.login-form form .remember-forgot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.login-form form .remember-forgot label input{
    margin-right: 10px;
}

.login-form form .remember-forgot a{
    color: black;
}

.login-form form .remember-forgot a:hover{
    text-decoration: underline;
}

.login-form form button{
    width: 100%;
    height: 50px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #0A1A62;
    color: white;
    cursor: pointer;
}

.login-form form button:hover{
    background-color: #333;
}

.login-form form .register-link{
    font-size: 1.2rem;
}

.login-form form .register-link a{
    color: black;
}

.login-form form .register-link a:hover{
    text-decoration: underline;
}


